.lsn {
  list-style: none;
}
.tdn {
  text-decoration: none;
}
.imgFrame {
  position: relative;
  overflow: hidden;
  padding-top: 57%;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: none;
    width: 100%;
  }
}
.pager {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .page {
    @extend .lsn;
    margin: 0 0.25rem;
    background-color: rgb(128, 198, 255);
    &[data-is-active="true"] {
      background-color: rgb(0, 140, 255);
    }
    &:first-child {
      margin-left: 0 !important;
    }
    &:last-child {
      margin-right: 0 !important;
    }
    a {
      display: block;
      padding: 0.5rem 1rem;
      color: rgb(255, 255, 255);
      @extend .tdn;
    }
  }
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
